body{
    background: linear-gradient(#e57fee, #9198e5);

}


h1{
    font-size: 300%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 2;
}

.header{
    position: relative;
    text-align: center;
    color: white;
    
}

.headshot-img{
    height: 16vh;
    width: 14vh;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 8%;
    z-index: 2;
    margin-top: 5vh;

}
.nav-links{
  display: none;
}
.nav-bar{
    display: block;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.img-container{
    position: relative;
    text-align: center;
    color: white;
    z-index: -1;
}

.About{
    font-size: 200% ;
    background-color: transparent;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.projects{
    position: absolute;
    justify-content: center;
    font-size: 400%;
    bottom: -45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.P-all{
    display: flex;



}

@media screen and (min-width: 700px) {}
.P1{ width:50%;
}
@media screen and (min-width: 700px) {}

.P2 {
    width: 50%;
}
@media screen and (min-width: 700px) {}

.P3 {
    width: 50%;
}
@media screen and (min-width: 700px) {}

.P4 {
    width: 50%;
}

.footer{
    text-align: center;
    background: linear-gradient(#e57fee, #9198e5);
    color: white;
    
}

.footer ul{
    list-style: none;
}